@import "../../../styles/vars";

.button{
    border: 2px solid $gold;
    color: $background;
    font-weight: 500;
    border-radius: 5px;
    background: $gold;
    transition: all .3s linear;
    padding: 2px 5px;
    cursor: pointer;

    &:hover{
      color: $gold;
      background: $background;
    }

    &:active{
      transition: all .1s ease-in;
      background: $gold;
    }
}